@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Spartan", sans-serif;
}
.search-bar {
  border: 2px solid #f5a623;
}







/* boxes style */
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3;
  margin: 20px 0;
  flex-wrap: wrap;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .boxes,
  .boxes .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .boxes,
  .boxes .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

